@import url(base.css);
@font-face {
  font-family: 'iconfont';
  src: url('font_xmh7raarjyhz1tt9/iconfont.eot');
  src: url('font_xmh7raarjyhz1tt9/iconfont.eot?#iefix') format('embedded-opentype'),
  url('font_xmh7raarjyhz1tt9/iconfont.woff') format('woff'),
  url('font_xmh7raarjyhz1tt9/iconfont.ttf') format('truetype'),
  url('font_xmh7raarjyhz1tt9/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.banner-two{
	width: 100%;
	height:500px;
	margin: 0 auto;
	position: relative;
}
.banner-three{
	display: none;
}
.banner-one{
	display: none;
}
.banner-two> nav{
	width: 100%;
	height: 44px;
	position: absolute;
	left: 0;
	top:0;
	margin: 0 auto;
	background: #303030;
	z-index: 100;
}
.banner-two>nav>.ul{
	width: 100%;
	height: 44px;
	margin: 0 auto;
	text-align:justify;
}
.banner-two> nav > .ul:after{
	content:"";
	display:inline-block;
	width:100%;
	font-size: 0;
}
.banner-two > nav >.ul>a{
	font-size:15px;
	line-height:44px;
	padding:0 10px;
	text-align:justify;
	display:inline-block;	
}
.banner-two>nav>.ul>a{
	color:#fff;
	font-family: "微软雅黑";
}


.img-box{
	width: 100%;
	height: 100%;
	position:relative;
	overflow: hidden;
}

div.img-box>ul>li{
	display: none;
	position: absolute;
	width: 100%;
	height:100%;
	top:0;
	left: 0;
}
div.img-box>ul>li:first-child{
	background-image: url(img/13.jpg);
	background-size: auto 80%;
	background-repeat:no-repeat;
	background-position: center bottom;
	background-color: #0a0a0a;
	display: block;
}
div.img-box>ul>li:nth-child(2){
	background-image: url(img/7777.png);
	background-size: auto 100%;
	background-repeat:no-repeat;
	background-position: center bottom;
	background-color: #CC3341;
	/* display: none; */
	
}
div.img-box>ul>li:nth-child(3){
	background-image: url(img/15.jpg);
	background-size: auto 80%;
	background-repeat:no-repeat;
	background-position: center bottom;
	background-color: #F2F2F2;
}
@keyframes move{
		0%{
			width: 0;
		}
		100%{
			width: 100%;
		}
}
@keyframes one{
		0%{
			transform: translateX(100%)
		}
		100%{
			transform: translateX(0)
		}
}
@keyframes two{
		0%{
			transform: translateX( 0%)
		}
		100%{
			transform: translateX(100%);
			
		}
}
@keyframes three{
		0%{
			transform: translateX( 0%) scale(1);
		}
		100%{
			transform: translateX(-7%)  scale(0.9);
		}
} 	
.img-box li.one{
		display: block;
		animation: one 1s linear;
}
.img-box li.two{
		display: block;
		animation: two 1s linear;
}
.img-box li.three {
		display: block;	
		animation: three 1s linear	
}
.zIndex{
		z-index: 10000;
}

.img-box span{
	font-size: 30px;
	color: #fff;
	position: absolute;
	left:45%;
	top:13%;
	z-index: 3;
	font-weight: bold;
	z-index: 10000000000;
}
.img-box h1{
	font-size: 35px;
	color: #fff;
	position: absolute;
	left:44%;
	top:21%;
	z-index: 3;
	font-weight: bold;
	z-index:1000000000;

}



.img-box .left_yuan{
	display:block;
	width: 20%;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
}
.img-box .right_yuan{
	display:block;
	width: 20%;
	height: 100%;
	position: absolute;
	right: 0;
	top:0;
}
.img-box .left_yuan .zuo{
	width:65px;
	height: 65px;
	border-radius: 50%;
	position: absolute;
	top:45%;
	left:10px;
	z-index: 99999999;
}
.img-box  .left_yuan .zuo h2{
		font-size: 35px;
		text-align: center;
		line-height: 65px;
		color:rgba(255,255,255,.1);
		z-index: 300;
		font-family: "宋体";
}
.img-box  .left_yuan:hover .zuo{
		
		background: rgba(255,255,255,.1);
}
.img-box  .left_yuan:hover .zuo h2{
	color:#535353;
}

.img-box  .right_yuan{
	display:block;
	width: 20%;
	height: 100%;
	position: absolute;
	right: 0;
	top:0;
}
.img-box  .right_yuan .you{
	width:65px;
	height: 65px;
	
	border-radius: 50%;
	position: absolute;
	top:45%;
	right:10px;
	z-index:99999;
}
.img-box  .right_yuan .you h2{
		font-size: 35px;
		text-align: center;
		line-height: 65px;
		color:rgba(255,255,255,.1);
		font-family: "宋体";
}
.img-box  .right_yuan:hover .you{
	background: rgba(255,255,255,.1);
}
.img-box  .right_yuan:hover .you h2{
	color:#535353;
}
.img-box .heng{
	width:180px;
	height:2px;
	position:absolute;
	left:43%;
	bottom:5%;
	z-index:1000000000;
	z-index:500;
}
.img-box .heng a{
	display: block;
	width: 50px;
	height: 100%;
	background: #222222;
	float: left;
	margin-left: 10px;
}
.img-box .heng a div.active{
	width: 0%;
	height: 100%;
	background:#fff;
	z-index: 100000;
	animation:  move 2s linear;
}
.two{
		width:100%;
		height: auto;
		overflow:hidden;		
}
.two .two-one{
	width:50%;
	height:200px;
	background-image:url(img/5.jpg);
	display:block;
	float:left;
	border:2px solid #fff;
	background-position:center center;
	box-sizing:border-box;
	background-repeat: no-repeat;
}
.two .two-two{
	width:50%;
	height:200px;
	background-image:url(img/6.jpg);
	display:block;
	float:left;
	border:2px solid #fff;
	box-sizing:border-box;
	background-position:center center;
	background-repeat: no-repeat;

	
}
.two .two-three{
	width:50%;
	height:200px;
	background-image:url(img/7.jpg);
	display:block;
	float:left;
	border:2px solid #fff;
	background-position:center center;
	box-sizing:border-box;
	background-repeat: no-repeat;
}
.two .two-four{
	width:50%;
	height:200px;
	background-image:url(img/8.jpg);
	display:block;
	float:left;
	background-position:center center;
	border:2px solid #fff;
	box-sizing:border-box;
	background-repeat: no-repeat;
}




.bottom-one{
	display: none;
}

.bottom-three{
	display: none;
}
.bottom-two{
	height: 100%;
	width: 100%;
	background: #F2F2F2;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing:border-box;
}
section{
	width: 100%;
	height:50px;
	margin: 0 auto;

}
section>span{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: block;
	line-height: 50px;
	font-size: 10px;
	color: #888888;
	border-bottom: 1px solid #D6D6D6;
}

.last-two{
	width: 100%;
	height: auto;
	overflow: hidden;

	margin:0 auto;
}
.bottom-two>div>ul{
	width: 20%;
	height: auto;
	overflow: hidden;
	float: left;
	font-size: 10px;
	margin-top:15px;
	color: #333333;
	font-weight:bold;
}
.bottom-two>div>ul>li>a{
	font-size: 9px;
	color: #555555;
	margin-top:10px;
	display: block;
	font-weight:normal;
}
.di{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top:20px;
}
.di .di-one{
	width: 100%;
	height:auto;
	overflow: hidden;
	padding: 15px 0;
	border-bottom: 1px solid #D6D6D6;
}
.di a span{
	color: #0070CB;
}
.di .di-one h1,.di-one a{
	font-size: 10px;
	float: left;
	padding: 0 2px;
	color: #888888;
}
.china{
	width: 100%;
	height:auto;
	overflow: hidden;
	margin-top: 15px;
}
.china .china-one{
	
	height:auto;
	overflow: hidden;
	float: left;
	

}
.china .china-two{
	
	height:auto;
	overflow: hidden;
	float: left;
	
	margin-left: 20px;
	
}
.china .china-three{
	
	height:auto;
	overflow: hidden;
	float: right;
	

}

.china-three a{
	font-size: 10px;

	padding: 0 2px;
	color: #555555;
}
.china-one span{
	font-size: 12px;
	
	padding: 0 2px;
	color: #555555;
}
.china-two span{
	font-size: 10px;

	padding: 0 2px;
	color: #555555;
}
.china-two a{
	font-size: 10px;
	
	padding: 0 2px;
	color: #555555;
}

.di-four{
	width: 100%;
	height:auto;
	overflow: hidden;
	margin-top:15px;
	margin-bottom: 50px;
	
}
.di .di-four a{
	font-size: 10px;
	float: left;
	padding: 0 2px;	
	color: #AF9999;
}
.di .di-four span{
	font-size: 10px;
	float: left;
	padding: 0 2px;	
	color: #AF9999;
}
.xiala{
	display: none;
}

















