@import url(base.css);

@font-face {
  font-family: 'iconfont';
  src: url('font_xmh7raarjyhz1tt9/iconfont.eot');
  src: url('font_xmh7raarjyhz1tt9/iconfont.eot?#iefix') format('embedded-opentype'),
  url('font_xmh7raarjyhz1tt9/iconfont.woff') format('woff'),
  url('font_xmh7raarjyhz1tt9/iconfont.ttf') format('truetype'),
  url('font_xmh7raarjyhz1tt9/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.banner-three{
	width: 100%;
	height:420px;
	margin: 0 auto;
	position: relative;
}
.banner-one{
	display: none;
}
.banner-two{
	display: none;
}
.banner-three>nav{
	width: 100%;
	height: 44px;
	position: absolute;
	left: 0;
	top:0;
	margin: 0 auto;
	background: #303030;
	z-index: 100;
}
.banner-three>nav>.ul{
	width: 100%;
	height: 44px;
	margin: 0 auto;
	text-align:justify;
}
.banner-three>nav>.ul:after{
	content:"";
	display:inline-block;
	width:100%;
	font-size: 0;
}
.banner-three>nav>.ul>a{
	line-height:44px;
	padding:0 10px;
	text-align:justify;
	display:inline-block;	
}
.banner-three>nav>.ul>a{
	color:#fff;
	font-family: "微软雅黑";
}
.hidden{
	width: 100%;
	height: 100%;
	z-index: 2000;
	overflow: hidden;
}
ul.xiala{
	background: black;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index:50;
	display: none;
}
ul.xiala li{
	width:80%;
	height: 55px;
	border-bottom: 1px solid #ccc;
	float: left;
	line-height: 55px;
	margin-left: 40px;
	color: #fff;
	opacity: 0;
	transition:opacity 0.5s;
}
ul.xiala >li.active{
	opacity:1;
}
ul.xiala li:nth-child(1){
	margin-top: 55px;
	transition-delay: 300ms;
}

ul.xiala li:nth-child(2){
	transition-delay: 350ms;
}

ul.xiala li:nth-child(3){
	transition-delay: 400ms;
}

ul.xiala li:nth-child(4){
	transition-delay: 450ms;
}

ul.xiala li:nth-child(5){
	transition-delay: 500ms;
}

ul.xiala li:nth-child(6){
	transition-delay: 550ms;
}

ul.xiala li:nth-child(7){
	transition-delay: 600ms;
}
ul.xiala li a{
	color: #fff;
}


.img-box{
	width: 100%;
	height: 100%;
	position:relative;
	overflow: hidden;
}

div.img-box>ul>li{
	display: block;
	position: absolute;
	width: 100%;
	height:100%;
	top:0;
	left: 0;
}
div.img-box>ul>li:first-child{
	background-image: url(img/13.jpg);
	background-size: auto 80%;
	background-repeat:no-repeat;
	background-position: center bottom;
	background-color: #0a0a0a;
}
div.img-box>ul>li:nth-child(2){
	background-image: url(img/7777.png);
	background-size: auto 100%;
	background-repeat:no-repeat;
	background-position: center bottom;
	background-color: #CC3341;
	/* display: none; */
}
div.img-box>ul>li:nth-child(3){
	background-image: url(img/15.jpg);
	background-size: auto 80%;
	background-repeat:no-repeat;
	background-position: center bottom;
	background-color: #F2F2F2;
}


@keyframes move{
		0%{
			width: 0;
		}
		100%{
			width: 100%;
		}
}
@keyframes one{
		0%{
			transform: translateX(100%)
		}
		100%{
			transform: translateX(0)
		}
}
@keyframes two{
		0%{
			transform: translateX( 0%)
		}
		100%{
			transform: translateX(100%);
			
		}
}
@keyframes three{
		0%{
			transform: translateX( 0%) scale(1);
		}
		100%{
			transform: translateX(-7%)  scale(0.9);
		}
} 

.img-box li.one{
		display: block;
		animation: one 1s linear;
}
.img-box li.two{
		display: block;
		animation: two 1s linear;
}
.img-box li.three {
		display: block;	
		animation: three 1s linear	
}
.zIndex{
		z-index: 10000;
}

.img-box span{
	font-size: 17px;
	color: #fff;
	position: absolute;
	left:45%;
	top:15%;
	z-index: 3;
	font-weight: bold;
}
.img-box h1{
	font-size: 20px;
	color: #fff;
	position: absolute;
	left:44%;
	top:20%;
	z-index: 3;
	font-weight: bold;

}

.img-box .left_yuan{
	display:block;
	width: 20%;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
}
.img-box .right_yuan{
	display:block;
	width: 20%;
	height: 100%;
	position: absolute;
	right: 0;
	top:0;
}
.img-box .left_yuan .zuo{
	width:65px;
	height: 65px;
	border-radius: 50%;
	position: absolute;
	top:45%;
	left:10px;
	z-index:99999;
}
.img-box  .left_yuan .zuo h2{
		font-size: 35px;
		text-align: center;
		line-height: 65px;
		color:rgba(255,255,255,.1);
			z-index:99999;
}
.img-box  .left_yuan:hover .zuo{
		
		background: rgba(255,255,255,.1);
}
.img-box  .left_yuan:hover .zuo h2{
	color:#535353;
}

.img-box  .right_yuan{
	display:block;
	width: 20%;
	height: 100%;
	position: absolute;
	right: 0;
	top:0;
}
.img-box  .right_yuan .you{
	width:65px;
	height: 65px;
	z-index:99999;

	border-radius: 50%;
	position: absolute;
	top:45%;
	right:10px;
}
.img-box  .right_yuan .you h2{
		font-size: 35px;
		text-align: center;
		line-height: 65px;
		color:rgba(255,255,255,.1);
}
.img-box  .right_yuan:hover .you{
	background: rgba(255,255,255,.1);
}
.img-box  .right_yuan:hover .you h2{
	color:#535353;
}
.img-box .heng{
	width:180px;
	height:2px;
	position:absolute;
	left:35%;
	bottom:5%;
	z-index:1000000000;
	z-index:45;
}
div.img-box>div.heng>a:first-child{
	display: block;
	width: 50px;
	height: 100%;
	background: #fff;
	float: left;
}
div.img-box>div.heng>a:nth-child(2){
	display: block;
	width: 50px;
	height: 100%;
	background:#222222;
	float: left;
	margin-left: 10px;
}
div.img-box>div.heng>a:nth-child(3){
	display: block;
	width: 50px;
	height: 100%;
	background:#222222;
	float: left;
	margin-left: 10px;
}
.three{
		width:100%;
		height:404px;		
}
.three .three-one{
	width:100%;
	height:200px;
	background-image:url(img/9.jpg);
	display:block;
	float:left;
	box-sizing:border-box;
	border:2px solid #fff;
	background-position:center center;
	background-repeat: no-repeat;
}
.three .three-two{
	width:100%;
	height:200px;
	background-image:url(img/10.jpg);
	display:block;
	float:left;
	border:2px solid #fff;
	box-sizing:border-box;
	background-repeat: no-repeat;
	background-position:center center;
	
}
.three .three-three{
	width:100%;
	height:200px;
	background-image:url(img/11.jpg);
	display:block;
	float:left;
	box-sizing:border-box;
	border:2px solid #fff;
	background-position:center center;
	background-repeat: no-repeat;
}
.three .three-four{
	width:100%;
	height:200px;
	background-image:url(img/12.jpg);
	display:block;
	float:left;
	background-position:center center;
	border:2px solid #fff;
	box-sizing:border-box;
	background-repeat: no-repeat;
}




.bottom-one{
	display:none;
}

.bottom-two{
	display: none;
}
.bottom-three{
	height: 100%;
	width: 100%;
	background: #F2F2F2;
	margin: 0 auto;
	float: left;
	padding: 0 13px;
	box-sizing:border-box;

}
section{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	border-bottom: 1px solid #D6D6D6;
}
section>span{
	line-height: 66px;
	width: 100%;
	font-size: 3px;
	color: #888888;	
}
.last-three{
	width: 100%;
	height: auto;
	overflow: hidden;
	float: left;
	margin:0 auto;
}
.bottom-three>.last-three>div{
	width: 100%;
	height: 38px;
	display: block;
	border-bottom: 1px solid #D6D6D6;
	margin-top: 5px;	
}
.bottom-three>.last-three>div>h3{
	color: #333333;
	line-height:38px;
	font-size: 8px;
	float: left;
	font-family: "微软雅黑"
}
.bottom-three>.last-three>div>h2{
	color: #333333;
	line-height:38px;
	font-size: 8px;
	float: right;
	font-family: "微软雅黑"

}

.di{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top:20px;

}
.di .di-one{
	width: 100%;
	height:auto;
	overflow: hidden;
	padding: 15px 0;
}
.di a span{
	color: #0070CB;
}
.di .di-one h1,.di-one a{
	font-size: 10px;
	float: left;
	padding: 0 2px;
	color: #888888;
}
.china{
	width: 100%;
	height:auto;
	overflow: hidden;
}
.di .china a span{
	font-size: 10px;
	float: left;
	padding: 0 2px;
	color: #555555;
	color:#333;
}
.di-two{
	width: 100%;
	height:auto;
	overflow: hidden;
}
.di .di-two h1{
	font-size: 10px;
	float: left;
	padding: 0 2px;
	margin-top:15px;
	color: #888888;
}
.di-three{
	width: 100%;
	height:auto;
	overflow: hidden;
	margin-top:15px;
}
.di .di-three a{
	font-size: 10px;
	float: left;
	padding: 0 2px;	
	color: #555555;
}
.di .di-three span{
	font-size: 10px;
	float: left;
	padding: 0 2px;	
	color: #D6D6D6;
}
.di-four{
	width: 100%;
	height:auto;
	overflow: hidden;
	margin-top:15px;
	padding-bottom: 50px;
}
.di .di-four a{
	font-size: 10px;
	float: left;
	padding: 0 2px;	
	color: #AF9999;
}
.di .di-four span{
	font-size: 10px;
	float: left;
	padding: 0 2px;	
	color: #AF9999;
}
.last-three ul{
	display: none;
}
.last-three ul li a{
	color:#333;
	font-size: 10px;
}