*{
	font-size: 0.12rem;
}
body{
	background: #f4f4f4;
}
.gjr_header{
	width: 100%;
	height: 1rem;
	background: rgba(0,0,0,0.1);
	position: fixed;
	left: 0rem;
	top: 0rem;
	z-index: 10;
	display: flex;
	justify-content: space-between;
}
.gjr_back{
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	border: 1px solid #fff;
	margin-top: 0.3rem;
	margin-left: 0.24rem;
	color: #fff;
	text-align: center;
	line-height: 0.5rem;
}
.gjr_back img{
	width: 100%;
}
.gjr_share {
	height: 0.45rem;
	width: 0.8rem;
	border-radius: 0.5rem;
	border: 1px solid #fff;
	text-align: center;
	line-height: 0.45rem;
	margin-right: 0.24rem;
	margin-top: 0.2rem;
	position: relative;
}
.gjr_share span{
	display: block;
	width: 0.09rem;
	height:0.09rem;
	border-radius: 50%;
	border:1px solid #fff;
	position: absolute;
	top: 0.01rem;
	right: 0.01rem;
	background: red;
}
.gjr_share img{
	
	width: 0.42rem;
}
.gjr_person{
	width: 1.8rem;
	height: 100%;
}
.gjr_person>img{
	height: 100%;
}
.gjr_home{
	width: 100%;
	height: 7.02rem;
	background-image: url('../img/gjr-img/star1_03.png');
	background-size: cover;
	position: relative;
}
.gjr_nav{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.gjr_picture{
	width: 2.02rem;
	height: 2.02rem;
	background-image: url('../img/gjr-img/gjr_touxiang.png');
	background-size: cover;
	position: absolute;
	left: 0.5rem;
	bottom: 2rem;
}
.gjr_detail{
	width:100%;
	height:1.3rem;
	position: absolute;
	left: 0rem;
	bottom: 0.5rem;
}
.gjr_dleft{
	width:65%;
	height: 100%;
	float: left;
}
.gjr_dright{
	width:35%;
	height: 100%;
	float: right;
}
.gjr_name{
	width: 100%;
	height: 0.35rem;
	font-size: 0.36rem;
}
.gjr_name h1{
	float: left;
	margin-left: 0.8rem;
	font-size: 0.36rem;
	color: #656565;
}
.gjr_name p{
	float: left;
	font-size: 0.36rem;
	margin-right: 0.3rem;
	color: #656565;
	
}
.gjr_name img{
	height: 0.35rem;
	float: left;
}
.gjr_dleft>span{
	display: block;
	width: 0.8rem;
	height: 0.1rem;
	background-image: url('../img/gjr-img/aa.png');
	background-size: cover;
	margin-left: 0.7rem;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	
}
.gjr_dleft>h2{
	width: 100%;
	font-size: 0.24rem;
	margin-left: 0.8rem;
	color: #a6a6a6;
	font-weight: normal;
}
.gjr_dright span{
	display: block;
	width: 0.6rem;
	height: 0.6rem;
	background-image: url('../img/gjr-img/gjr_bianji.png');
	background-size: cover;
	float: right;
	margin-right: 0.5rem;
	margin-top: 0.3rem;
}
.gjr_money{
	width: 7.02rem;
	margin: 0 auto;
	height: 3rem;
	margin-top: -0.5rem;
	/*background: red;*/
	position: relative;
}
.gjr_mhead{
	width: 100%;
	height: 1.22rem;
	border-radius: 0.05rem;
	background-image: url('../img/gjr-img/scroll1.png');
	background-size: cover;
	box-shadow: 0 0.01rem  0.05rem 0.01rem #ccc;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	display:flex;
	justify-content: space-around;
}
.gjr_mhead a{
	width: 1rem;
	height: 100%;
}
.gjr_mhead a:nth-child(2) img{
	margin-left: 0.12rem;
}
.gjr_mhead a:nth-child(3) img{
	margin-left: 0.12rem;
}
.gjr_mhead a:nth-child(4) img{
	margin-left: 0.08rem;
}
.gjr_mhead a img{
	width: 100%;
}
.gjr_mbottom{
	/*background: red;*/
	width: 100%;
	height: 1.45rem;	
	display: flex;
	justify-content: space-between;
	position: absolute;
	top:1.4rem;
	left: 0;
	z-index: 3;
}
.gjr_mbottom a{
	display: block;
	width: 2.25rem;
	height: 1.4rem;
}
.gjr_mbottom img{
	width: 2.25rem;
	
	/*display: block;*/
}
.gjr_shead{
	width: 4.5rem;
	height: 0.8rem;
	margin: 0 auto;
	/*background:#7c3d1e;*/
	background-image:url('../img/gjr-img/qt_03.png') ;
	background-size: cover;
	background-position: center;
	border-radius: 50px;
	overflow: hidden;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}

.gjr_dong{
	width: 46%;
	height:90%;
	/*background: #fff;*/
	font-size: 18rem;
	float: left;
	margin-top: 0.04rem;
	margin-left: 0.15rem;
	border-radius: 50px;
}
.gjr_dong span{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	border-radius: 50px;
	line-height: 0.8rem;
	text-align: center;
	font-weight: bold;
	font-size: 0.2rem;
}
.gjr_guan{
	width: 46%;
	height: 90%;
	color: #fff;
	font-size: 18rem;
	float: left;
	border-radius: 50px;
	/*background: red;*/
	margin-top: 0.05rem;
	margin-left: 0.05rem;
}
.gjr_guan span{
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	float: left;
	border-radius: 50px;
	line-height: 0.8rem;
	text-align: center;
	font-weight: bold;
	font-size: 0.2rem;
}
.gjr_one{
	background: #fff;
}
span.gjr_first{
	color: #454444;
}
.gjr_add{
	width: 100%;
	height: 0.8rem;
	/*background-image: url("");;*/
}
.gjr_add>img{
	width: 100%;
}
.gjr_status{
	width: 100%;
	height: auto;
	background: #f4f4f4;
	overflow: hidden;
	margin-top: 0.1rem;
}

.gjr_user{
	width: 7.02rem;
	height: 1.3rem;
	margin: 0 auto;
}
.gjr_sright{
	float: left;
	width: 5.82rem;
	height: 1rem;
	padding-top: 0.3rem;
	position: relative;
}
.gjr_sright>a{
	display: inline-block;
	width: 0.48rem;
	height: 0.16rem;
	position: absolute;
	right: 0rem;
	top: 50%;
	height: -0.08rem;
}
.gjr_sright>a>img{
	width: 100%;
}
.gjr_user>img{
	width: 1.2rem;
	float: left;
}
.gjr_user h1{
	font-size: 0.32rem;
	float: left;
}
.gjr_user>.gjr_sright>h2{
	width: 100%;
	font-size: 0.24rem;
	font-weight: normal;
	float: left;
	color: #999999;
}
.gjr_sright> div.gjr_star1{
	width: 5rem;
	height: 0.35rem;
}
.gjr_sright> div.gjr_star1>img{
	height: 0.25rem;
}
.gjr_display{
	width: 7.02rem;
	height: 3.5rem;
	margin: 0 auto;
	margin-bottom: 1rem;
}
.gjr_display>li{
	float: left;
}
.gjr_display>li>a{
	width: 100%;
	height: 100%;
}
.gjr_display>li>a>img{
	width: 100%;
}
.gjr_display>li:first-child,.gjr_display>li:nth-child(2){
	width: 2.31rem;
	height: 100%;
	margin-right: 0.03rem;
}
.gjr_display>li:nth-child(3){
	width: 2.31rem;
	height: 2.02rem;
}
.gjr_display>li:nth-child(4){
	width: 2.31rem;
	height: 1.34rem;
	margin-top: 0.02rem;
}
#top{
	width: 100%;
	height: 2.2rem;
	background-image: url(../img/1.png);
	background-size: center;
}
#bottom{
	width: 100%;
	height: 1rem;
	background: #121314;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10;
}
#bottom>ul{
	width: 100%;
	height: 0.7rem;
	justify-content:space-around;
  	display: flex;
}
#bottom>ul>li{
	width: 20%;
	height: 0.54rem;
	margin-top: 0.24rem;
	margin-left: 0.34rem;
	position: relative;
}
#bottom>ul>li:first-child>a> img{
	width: 0.70rem;
}
#bottom>ul>li:nth-child(2)>a> img{
	width: 0.7rem;
}
#bottom>ul>li:nth-child(3)>a> img{
	width: 0.7rem;
}
#bottom>ul>li:nth-child(4) >a>img{
	width: 0.70rem;
}
#bottom>ul>li:nth-child(5)>a> img{
	width: 0.70rem;
}
#bottom>ul>li div{
	position: absolute;
	right: 0rem;
	top: 0;
}
#bottom>ul>li div img{
	width: 0.02rem;
	height: 0.56rem;
}










