@import url(common.css);
*{
	font-size: 0;
}
#top{
	width: 100%;
	height: 2.2rem;
	background-image: url(../../img/1.png);
	background-size: center;
}
#bottom{
	width: 100%;
	height: 1rem;
	background: #121314;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 99999999;
}
#bottom>ul{
	width: 100%;
	height: 0.7rem;
	justify-content:space-around;
  	display: flex;
}
#bottom>ul>li{
	width: 20%;
	height: 0.54rem;
	margin-top: 0.24rem;
	margin-left: 0.34rem;
	position: relative;
}
#bottom>ul>li:first-child>a> img{
	width: 0.70rem;
}
#bottom>ul>li:nth-child(2)>a> img{
	width: 0.7rem;
}
#bottom>ul>li:nth-child(3)>a> img{
	width: 0.7rem;
}
#bottom>ul>li:nth-child(4) >a>img{
	width: 0.70rem;
}
#bottom>ul>li:nth-child(5)>a> img{
	width: 0.70rem;
}
#bottom>ul>li div{
	position: absolute;
	right: 0rem;
	top: 0;
}
#bottom>ul>li div img{
	width: 0.02rem;
	height: 0.56rem;
}